.user-container {
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width : 25%;
    /* border-collapse: collapse; */
  }

tr{
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td{
    padding: 8px;
    text-align : center;
}